
/******************/
/* Styles for IE  */
/******************/

/* OBSESSED STYLES*/

#hp_obsessed_box {
	background: url(../images/oxygencom/obsessed_header.png) no-repeat;
	display:inline;
	float:right;
	margin: 40px 26px 0 0px;
	font-size: 11px;
	line-height: 13px;
	width:300px;	
}

#companion_300x250 {
	width: 300px;
	height: 264px;
	padding: 0 !important;
	margin: 80px 0 0 0px;
	position:relative;
}

 #videoPlayerColumn
 {
	position: absolute;
	display:inline; 
	float:right;
	width:339px;
	height:617px;
	margin: 50px 0 0 0px;

}